@model Login
@{
	ViewData["Title"] = "Login";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="min-h-screen bg-white">
	<section class="lg:max-w-4xl mx-auto py-20">
		<div class="mb-5 text-center">
			<a class="uppercase font-extrabold text-xl py-4 text-indigo-600" href="/">
				<span class="font-light">Dotnet</span>Devs
			</a>
		</div>
		<h1 class="text-center mt-6 text-center text-3xl font-bold tracking-tight text-black">
			Sign in to your account
		</h1>
		<p class="mt-2 text-center text-sm text-gray-600">
			Or
			<a href="/register" class="font-medium text-indigo-600 hover:text-indigo-500">Create an account →</a>
		</p>
		<form asp-action="Login" asp-controller="Account" method="post" class="mt-8 flex flex-col py-8 px-4 sm:px-10 bg-white sm:mx-auto sm:w-full sm:max-w-md border-y sm:border">
			@if (!Html.ViewData.ModelState.IsValid)
			{
				<div class="text-red-500 text-sm flex justify-center mb-6">
					@Html.ValidationSummary()
				</div>
			}
			<div>
				<label asp-for="@Model.Email" class="block text-sm font-medium text-gray-700">Email address</label>
				<div class="mt-1">
					<input asp-for="@Model.Email" id="email" name="Email" type="email" autocomplete="email" required class="block w-full appearance-none border border-gray-300 px-3 py-2 placeholder-gray-400 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
				</div>
				<div class="mt-1 text-red-500 text-sm">
					@Html.ValidationMessageFor(m => m.Email)
				</div>
			</div>

			<div class="mt-8">
				<label asp-for="@Model.Password" class="block text-sm font-medium text-gray-700">Password</label>
				<div class="mt-1">
					<input asp-for="@Model.Password" id="password" name="Password" type="password" autocomplete="current-password" required class="block w-full appearance-none border border-gray-300 px-3 py-2 placeholder-gray-400 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
				</div>
				<div class="mt-1 text-red-500 text-sm">
					@Html.ValidationMessageFor(m => m.Password)
				</div>
			</div>
			<div class="mt-8">
				<button type="submit" class="ml-auto text-sm font-semibold text-white bg-indigo-600 hover:bg-indigo-700 leading-loose relative flex items-center justify-center py-2 px-4 w-full">
					Sign in
				</button>
			</div>
		</form>
	</section>
</div>