@model ConversationShow
@{
	ViewData["Title"] = $"Your a conversation with ";
}
<div class="">
	<div class="relative flex flex-wrap justify-center items-center py-12 md:py-20 max-w-4xl mx-auto lg:px-8">
		<div class="flex-1">
			<div class="flex flex-col sm:flex-row sm:justify-between items-start py-6 px-6 lg:px-0">
				<div class="inline-flex items-center">
					@if (Model.Sender == "COMPANY") 
					{
						<div class="shrink-0 mr-2">
							<img alt="@Model.Conversation.Developer.Hero avatar" class="h-12 w-12 object-cover border border-gray-100" src="@Model.Conversation.Developer.Avatar">
						</div>
						<h1 class="text-black text-3xl leading-tight font-bold">
							@Model.Conversation.Developer.FullName
						</h1>
					}
					else 
					{
						<div class="shrink-0 mr-2">
							<img alt="@Model.Conversation.Company.CompanyName avatar" class="h-12 w-12 object-cover border border-gray-100" src="@Model.Conversation.Company.Avatar">
						</div>
						<h1 class="text-black text-3xl leading-tight font-bold">
							@Model.Conversation.Company.CompanyName
						</h1>
					}
				</div>
			</div>
			<div class="flex flex-col space-y-4 mb-8 px-6 lg:px-0">
				@foreach (var message in Model.Messages)
				{
					@if (message.Sender == Model.Sender)
					{
					<div class="flex flex-col w-full items-end justify-end">
						<div class="p-4 shadow-xl max-w-lg border text-white bg-indigo-600 mb-2">
							<p>@message.Text</p>
						</div>
						<div class="inline-flex">
							<p class="text-xs text-gray-600">@message.CreatedDate · 
								@if (message.HasBeenRead) 
								{
								<span class="font-bold text-green-500">Read</span>
								}
								else
								{
								<span class="font-bold text-yellow-500">Delivered</span>
								}
							</p>
						</div>
					</div>
					}
					else 
					{
					<div class="flex flex-col w-full justify-start items-start">
						<div class="p-4 shadow-xl bg-white max-w-lg border border-black mb-2">
							<p>@message.Text</p>
						</div>
						<p class="text-xs text-gray-600">@message.CreatedDate</p>
					</div>
					}
				}
			</div>

			<form asp-action="StoreMessage" asp-controller="Conversations" asp-route-id="@Model.Conversation.ID" method="post">
				<input asp-for="Sender" type="hidden" class="" />
				<div class="text-red-500 text-sm flex justify-start">
					@Html.ValidationSummary()
				</div>
				<div class="text-left">
					<div class="flex flex-col p-6 lg:px-0">
						<div class="w-full space-y-6">
							<div>
								<label asp-for="Text" class="block text-base font-medium text-gray-700">New message *</label>
								<div class="mt-2">
									<textarea asp-for="Text" rows="4" type="text" required class="block w-full py-2 px-3 outline-none text-gray-700 bg-white border-gray-300 shadow-sm hover:border-indigo-600 focus:border-indigo-600"></textarea>
								</div>
								<div class="mt-1 text-red-500 text-sm">
									<span asp-validation-for="Text"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="w-full end justify-start pr-6 lg:pr-0">
					<button type="submit" class="ml-auto text-base font-semibold text-white bg-indigo-600 hover:bg-indigo-700 leading-loose relative flex items-center justify-center py-2 px-12 w-auto max-w-sm md:w-auto">
						Send Message
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
