@namespace dotnetdevs.Components

@foreach (var developer in Developers)
{

	<a href="/developers/show/@developer.ID"
   class="transition-all group duration-200 ease-in-out relative block bg-white border p-4 hover:border-l-8 hover:ring-2 ring-indigo-600 hover:border-indigo-600 cursor-pointer relative bg-white">
		<!---->
		<div class="flex flex-col justify-center md:flex-row md:justify-start md:items-center">
			<div class="flex items-center">
				<div class="overflow-hidden w-full h-full w-12 h-12 md:w-12 md:h-12 shrink-0">
					<img src="@developer.Avatar"
					 alt="@developer.Hero avatar" class="object-contain w-full h-full" loading="lazy">
				</div>
				<div class="ml-3">
					<div class="font-display text-lg leading-tight font-bold">@developer.Hero</div>
					<div>
						@if (developer.SearchStatus.Name == "Not interested")
						{
							<div class="flex items-center text-sm font-medium text-gray-500">
								@developer.SearchStatus.Name
							</div>
						}
						else
						{
							<div class="flex items-center text-sm font-medium text-green-500">
								@developer.SearchStatus.Name
							</div>
						}
					</div>
				</div>
			</div>
			<div class="ml-auto font-display font-bold transition-opacity duration-400 absolute bottom-4 right-4 opacity-0 group-hover:opacity-100 text-sm">
				View details <i class="far fa-arrow-right fa-fw ml-1" aria-hidden="true"></i>
			</div>
		</div>
		<div class="text-sm sm:text-base text-gray-800 space-y-4 py-3">
			<p class="line-clamp-3 break-words leading-loose lg:leading-loose">
				@developer.Bio
			</p>
		</div>
		<div class="text-xs mt-3 flex gap-x-4 gap-y-1 flex-wrap items-center md:gap-2">
			<span class="inline-flex items-center rounded-md px-2.5 py-0.5 font-medium bg-yellow-100 text-yellow-800 border border-yellow-800">@developer.ExperienceLevel.Name</span>
		</div>
	</a>
}
@code {
	[Parameter]
	public List<Developer> Developers { get; set; }
}