@model JobIndex
@{
	ViewData["Title"] = ".NET developers job board";
}
<div class="bg-white relative">
	<img style="" class="h-[400px] sm:h-[500px] w-auto absolute -top-10 right-0 opacity-10" src="~/csharp-logo.png" alt=".NET Core logo background">
	<div class="relative flex flex-wrap justify-center items-center pt-12 md:pt-20 pb-12 md:pb-20 max-w-6xl mx-auto px-8">
		<div class="flex-1">
			<div class="lg:max-w-5xl mx-auto">
				<h1 class="mb-5 text-center text-black text-4xl leading-tight md:text-5xl md:leading-tight lg:text-7xl lg:leading-tight font-bold">
					The #1 Job Board for <br class="hidden sm:block" /><span class="text-indigo-600">.NET Developers</span>
				</h1>
				<p class="mb-2 text-lg lg:text-2xl leading-loose lg:leading-loose text-center text-gray-700 max-w-2xl mx-auto">
					Find companies looking to hire .NET developers or post a job if you are hiring .NET developers.
				</p>
				<form asp-action="Subscribe" asp-controller="Jobs" method="post" class="pt-2 sm:pt-6 sm:mx-auto sm:flex w-full max-w-xl px-4">
					<div class="flex-1">
						<label for="cta-email" class="sr-only">Email address</label>
						<input required placeholder="Get weekly email job alerts" type="email" name="Email" class="block w-full border bg-gray-50 focus:bg-white text-sm sm:px-5 sm:py-3 sm:text-base text-gray-900 placeholder-gray-500 shadow-sm focus:border-blue-600">
					</div>
					<div class="mt-4 sm:mt-0 sm:ml-3">
						<button type="submit" class="block w-full border-2 border-indigo-600 bg-indigo-600 hover:bg-indigo-700 py-2 sm:py-3 text-sm sm:text-base font-medium text-white shadow focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-indigo-600 sm:px-10">
							Notify me →
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="mt-12">
	<div class="relative flex flex-wrap justify-center items-center pb-8 md:pb-12 max-w-6xl mx-auto sm:px-8">
		<div class="flex-1">
			<div class="flex flex-row justify-between items-center px-6 mb-8">
				<h2 class="text-lg lg:text-2xl leading-loose lg:leading-loose text-left text-black font-semibold">
					Latest .NET Jobs
				</h2>
				<div class="">
					<a href="/hire" class="text-base font-semibold text-white bg-indigo-600 hover:bg-indigo-700 leading-loose relative flex items-center justify-center py-1 px-4 mx-auto w-auto max-w-sm md:w-auto">
						Post a job
					</a>
				</div>
			</div>
			<div class="flex flex-col space-y-8">
				@foreach (var job in Model.Jobs)
				{
					<a href="/jobs/@job.Slug"
				   class="relative block border p-4 transition-all group duration-200 ease-in-out hover:border-l-8 hover:ring-2 ring-indigo-600 hover:border-indigo-600 cursor-pointer relative bg-white">
						<div class="flex flex-col justify-center md:flex-row md:justify-start md:items-center">
							<div class="flex items-center">
								<div class="overflow-hidden w-full h-full w-12 h-12 md:w-12 md:h-12 shrink-0">
									@if (job.Company != null)
									{
										<img src="@job.Company.Avatar" alt="Logo @job.Company.CompanyName" class="object-contain w-full h-full" loading="lazy">
									}
									else
									{
										<img src="@job.UnverifiedCompany.Avatar" alt="Logo @job.UnverifiedCompany.CompanyName" class="object-contain w-full h-full" loading="lazy">
									}
								</div>
								<div class="ml-3">
									<h3 class="font-display text-lg leading-tight font-bold">
										@job.Title
									</h3>
									<div>
										<h4 class="flex items-center text-sm font-medium text-gray-500">
											@if (job.Company != null)
											{
												@job.Company.CompanyName
											}
											else
											{
												@job.UnverifiedCompany.CompanyName
											}
										</h4>
									</div>
								</div>
							</div>
							<div class="ml-auto font-display font-bold transition-opacity duration-400 absolute bottom-4 right-4 opacity-0 group-hover:opacity-100 text-sm">
								View details <i class="far fa-arrow-right fa-fw ml-1" aria-hidden="true"></i>
							</div>
						</div>
						<div class="text-xs mt-3 flex gap-x-4 gap-y-1 flex-wrap items-center md:gap-2">
							<span class="inline-flex gap-1.5 items-center px-1.5 py-0.5 bg-gray-100 font-medium rounded-lg">
								@job.RemotePolicy.Name
							</span>
							<span class="inline-flex gap-1.5 items-center px-1.5 py-0.5 bg-gray-100 font-medium rounded-lg">
								@job.WorkType.Name
							</span>
							<span class="inline-flex gap-1.5 items-center px-1.5 py-0.5 bg-gray-100 font-medium rounded-lg">
								@job.ExperienceLevel.Name
							</span>
						</div>
					</a>
				}
			</div>
		</div>
	</div>
</div>
